<html ng-app="app">
<head>
    <title>Fe Test Remote</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link rel='shortcut icon' type='image/x-icon' href='fe.ico' />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Nova+Mono' rel='stylesheet' type='text/css'>
    <!-- inject:css -->
    <!-- endinject -->

</head>
<body>

<div class="container">
    <div class="title">
        <i class="icon icon-plane mirror"></i>
        Conquer the sky!
        <i class="icon icon-plane"></i>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 container-view">
            <ui-view></ui-view>
        </div>
    </div>
</div>

<!-- inject:js -->
<!-- endinject -->

</body>
</html>
