
<div class="box-container">

     <div class="child-container form form-horizontal">

         <div class="form-group">
             <div class="col-xs-12">
                 <div angucomplete-alt id="origin"
                      placeholder="From:"
                      maxlength="50"
                      pause="100"
                      selected-object="selectOrigin"
                      local-data="countries"
                      search-fields="name"
                      title-field="name"
                      minlength="0"
                      input-class="form-control form-control-small"
                      match-class="highlight"
                      text-searching="Searching for airports..."
                      text-no-results="Any airport with this query was found"
                         >
                 </div>
             </div>
         </div>

         <div class="form-group">
             <div class="col-xs-12">
                 <div angucomplete-alt id="destination"
                      placeholder="To:"
                      maxlength="50"
                      pause="100"
                      selected-object="selectDestination"
                      local-data="destinations"
                      search-fields="name"
                      title-field="name"
                      minlength="0"
                      input-class="form-control form-control-small"
                      match-class="highlight"
                      text-searching="Searching for airports..."
                      text-no-results="Any airport with this query was found"
                      disable-input="destinations.length == 0"
                         >
                 </div>
             </div>
         </div>

         <div class="form-group">
            <div class="col-xs-12 col-sm-6">
                <datepicker date-format="mediumDate"
                            date-min-limit="{{date_now}}"
                            button-prev="<i class='fa fa-arrow-left'></i>"
                            button-next="<i class='fa fa-arrow-right'></i>"
                            selector="form-control">
                    <div class="input-group date-picker origin">
                        <input ng-model="departure_date" class="form-control no-text" placeholder="Fly out:"/>
                        <span class="input-group-addon">
                            <i class="fa fa-lg fa-calendar"></i>
                        </span>
                    </div>
                </datepicker>
            </div>
            <div class="col-xs-12 col-sm-6">
                <datepicker
                            date-format="mediumDate"
                            button-prev="<i class='fa fa-arrow-left'></i>"
                            button-next="<i class='fa fa-arrow-right'></i>"
                            date-min-limit="{{departure_date}}"
                            selector="form-control">
                    <div class="input-group date-picker">
                        <input ng-model="return_date" ng-disabled="departure_date == null"  class="form-control no-text" placeholder="Fly back:"/>
                        <span class="input-group-addon">
                            <i class="fa fa-lg fa-calendar"></i>
                        </span>

                    </div>
                </datepicker>
            </div>
         </div>

         <div class="form-group">
             <div class="col-sm-8 error-message">
                 {{error}}
             </div>
             <div class="col-sm-4">
                 <div class="btn btn-default pull-right" ng-disabled="disableSearchButton()" ng-click="lookForFlights()">Search</div>
             </div>
         </div>

     </div>

</div>
